<mat-card class="custom-mat-card today" *ngIf="todayTasks && todayTasks.length">
    <div class="custom-card-header">
        <div class="container-infos">
            <mat-card-title>Tarefas para hoje: {{ todayTasks.length }}</mat-card-title>
        </div>
    </div>

    <mat-card-content>
        <mat-list-item *ngFor="let task of todayTasks" (click)="navigateToDetails(task)">
            {{ task.title }}
        </mat-list-item>
    </mat-card-content>
</mat-card>



<div class="container-buttons">

    <mat-form-field class="example-form-field">
        <input (keyup)="searchTerm()" style="color: #FFF;" matInput type="search" placeholder="Buscar"
            [(ngModel)]="search">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Limpar"
            (click)="search=''; searchTerm();">
            <mat-icon style="color: #FFF;">close</mat-icon>
        </button>
    </mat-form-field>

    <div>
        <button mat-button mat-raised-button [matMenuTriggerFor]="generalMenu" color="primary"
            aria-label="Ações">Ações</button>

        <mat-menu #generalMenu="matMenu">
            <button mat-menu-item (click)="openDialog()" color="primary"
                aria-label="Adicionar Tarefa">Adicionar</button>
            <button mat-menu-item [matMenuTriggerFor]="order">Ordenar</button>
        </mat-menu>

        <mat-menu #order="matMenu">
            <button mat-menu-item (click)="orderBy('priority')">Prioridade</button>
            <button mat-menu-item (click)="orderBy('date')">Data de criação</button>
            <button mat-menu-item (click)="orderBy('title')">Título</button>
        </mat-menu>
    </div>
</div>

<div *ngIf="tasks.length; then haveTasks else noTasks"></div>

<ng-template #haveTasks>
    <p style="text-align: right">Total de tarefas: {{ tasks.length }}</p>
    <div *ngFor="let task of tasks">
        <mat-card class="custom-mat-card">
            <div class="custom-card-header">
                <div style="flex: 1;" (click)="navigateToDetails(task)">
                    <mat-card-title>{{ task.title }}</mat-card-title>
                    <mat-card-subtitle>{{ task.date | date: 'dd/MM/yyyy HH:mm:ss' }} - Prioridade: {{ task.priority }}
                    </mat-card-subtitle>
                </div>
                <div class="actions-container">
                    <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Ações">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionMenu="matMenu">
                        <button mat-menu-item (click)="removeTask(task.id)">
                            <span>Excluir</span>
                        </button>
                        <button mat-menu-item (click)="openDialog(task)">
                            <span>Editar</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <mat-card-content (click)="navigateToDetails(task)">
                <p>{{ task.desc }}</p>
            </mat-card-content>
        </mat-card>

    </div>
</ng-template>

<ng-template #noTasks>
    <p>Nenhuma Tarefa Encontrada!</p>
</ng-template>